<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="About content">
        <h2>About content</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cupiditate totam cum sequi perferendis porro nemo ex quae ea, maxime quasi officiis, animi provident quam quidem asperiores ad quibusdam sit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sed quam ab nemo saepe aliquid possimus expedita deserunt modi veniam ex culpa, blanditiis vero vel molestiae nihil cupiditate, provident inventore.</p>

    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>